.card{
    position: relative;
    background: rgb(232, 0, 0);
    padding:50px;
    width: 600px;
    margin: 20px auto 0 auto;
    box-shadow: 0 2px 4px rgba(100,100,100,.1);
}
.card h2 {
    font-size:21px;
    font-weight:500;
  }
  
  .card h2 a {
    color:#CC0000;
    text-decoration:none;
  }
  
  .card .text {
    color:#212121;
    margin-top:20px;
    font-size:15px;
    line-height:22px;
  }